.container {
    position: fixed;
    top: 0;
    left: 250px;
    bottom: 0;
    right: 0;
}


.closed {
    left: 0;
}

.viewerContainer {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
    .file-list {
        padding: 10px;
        &:hover {
            background: #eee;
        }
        > div {
            display: inline-block;
            position: relative;
            bottom: 5px;
        }
        .fileIcon {
            position: relative;
            top: 5px;
            + span {
                bottom: 0;
            }
        }
        .file-name {
            width: calc(100% - 220px);
        }
        .file-size, .file-creation-date {
            text-align: center;
        }
        .file-size {
            width: 100px;
        }
        .file-creation-date {
            width: 100px;
        }
    }
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.panel-footer {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;

    .full-width {
        width: 100%;
    }
}