.container {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
}

md-sidenav-container {
    height: 100%;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
  line-height: 2;
}